@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    background-color: #e6d8cb;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    background-color: #2f3559;
    color: white;
    font-family: 'Agbalumo';
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

.barras {
    margin-top: 0px;
    margin-left: 20px;
}

.logoIcon {
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 0 auto;
    padding: 0;
}

.logo {
    margin: 0;
    text-align: left;
}

.partOne {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 50px;
    padding: 30px;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 30px;
}

.about {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.links {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
}

.partTwo {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 10px;
    padding: 40px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.partThree {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 10px;
    padding: 40px;
}

.specifications {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.partFour {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 10px;
    padding: 40px;
}

.studies {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.partFive {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 10px;
    padding: 40px;
}

.experience {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.partSix {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 10px;
    padding: 40px;
}
.courses {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.partSeven {
    background-color: #f1bbbb;
    border-radius: 90px;
    margin-top: 10px;
    padding: 40px;
}

.extracurricular {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
    list-style-type: disc;
}

li {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
    list-style-type: disc;
}

h2 {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: Bold Italic;
    font-size: 25px;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: white;
}

.email {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

.phone {
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 25px;
}

footer {
    background-color: #9a5071;
    padding: 15px;
    margin-top: 20px;
}

.bold {
    font-weight: bold; 
}